name: Keep Alive

on:
  schedule:
    # 偶数天，每天奇数小时（1,3,5...23）46分执行 UTC时间
    # - cron: "46 1-23/2 2-30/2 * *"
    - cron: "46 1-23/8 2-30/2 * *"
    # 奇数天，每天偶数小时（0,2,4...22）3分执行 UTC时间
    # - cron: "3 0-22/2 1-31/2 * *"
    - cron: "3 0-22/12 1-31/2 * *"
  workflow_dispatch:       # 允许手动触发 仅在默认分支(Default Branch)上生效, 若其他分支有相同的workflow文件则可以选择分支手动执行

# 分为4个策略矩阵同时执行
jobs:
  # === 预热缓存 Job ===
  cache-preheat:
    runs-on: ubuntu-latest
    steps:
      # 用来做文件hash
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      # 1.缓存整个虚拟环境
      - name: Cache Virtual Environment
        uses: actions/cache@v4
        id: venv-cache
        with:
          path: |
            .venv
            ~/.cache/ms-playwright
          # 缓存 Key 依赖于操作系统和 requirements.txt 的 hash
          key: ${{ runner.os }}-venv-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-venv-

      # 2. 如果缓存未命中，则安装依赖
      - name: Install dependencies if cache missed
        if: steps.venv-cache.outputs.cache-hit != 'true'
        run: |
          # 创建并激活虚拟环境
          python -m venv .venv
          source .venv/bin/activate

          # 安装 Python 依赖
          pip install --upgrade pip
          pip install -r requirements.txt

          # 安装 Playwright 浏览器
          python -m playwright install chromium --with-deps

  run-grouped:
    needs: cache-preheat       # 等缓存预热完成
    runs-on: ubuntu-latest
    strategy:
      matrix:
        group_index: [ 1, 2, 3, 4 ]   # 四个 Job 的索引
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # 1. 恢复虚拟环境缓存
      - name: Restore Virtual Environment Cache
        uses: actions/cache@v4
        id: venv-cache-restore
        with:
          path: |
            .venv
            ~/.cache/ms-playwright
          key: ${{ runner.os }}-venv-${{ hashFiles('requirements.txt') }}

      # 2. 运行脚本
      - name: Run Visit.py
        env:
          SITE_URLS: ${{ secrets.SITE_URLS }}
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
          GITHUB_EVENT_SCHEDULE: ${{ github.event.schedule }}
          GROUP_INDEX: ${{ matrix.group_index }}
          TOTAL_GROUPS: 4
        # 直接使用 .venv 路径下的 python 解释器运行脚本
        run: |
          ./.venv/bin/python visit.py
